<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.server.dao.TagMapper" >
  <resultMap id="BaseResultMap" type="com.wang.server.entity.Tag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="tag_desc" property="tagDesc" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wang.server.entity.Tag" >
    insert into tag (id, tag_name, tag_desc, 
      `type`, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{tag_name,jdbcType=VARCHAR}, #{tag_desc,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wang.server.entity.Tag" >
    update tag
    set tag_name = #{tag_name,jdbcType=VARCHAR},
      tag_desc = #{tag_desc,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, tag_name, tag_desc, `type`, create_time, update_time
    from tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, tag_name, tag_desc, `type`, create_time, update_time
    from tag
  </select>
</mapper>